#root {
        -fx-background-color:  linear-gradient(lightgray, gray);
        -fx-border-color: white;
        -fx-border-radius: 20;
        -fx-padding: 10 10 10 10;
        -fx-background-radius: 20;
       
}
 
#bp {
        -fx-background-color:  linear-gradient(gray,DimGrey );
       
}
 
#btnLogin {
    -fx-background-radius: 30, 30, 29, 28;
    -fx-padding: 3px 10px 3px 10px;
    -fx-background-color:       linear-gradient(orange, orangered );
}
 
#text {
        -fx-fill:  linear-gradient(orange , orangered);
}

#applyButton 
{
    -fx-font-size: 20px;
    -fx-border-insets: 5;
    -fx-border-radius: 5;
    -fx-background-color: lightgreen;
    -fx-text-fill: red;
}

.button-style-yes
{
    -fx-border-color: black;
    -fx-border-width: 5;
    -fx-border-radius: 0;
    -fx-border-insets: 0;
    -fx-border-style: solid line-join bevel line-cap square;
}
.button-style-no
{
    -fx-border-color: red, black;
    -fx-border-width: 5, 5;
    -fx-border-radius: 0, 0;
    -fx-border-insets: 0, 5;
    -fx-border-style: solid inside, dotted outside;
}
 
.button-style-cancel
{
    -fx-border-color: red black red black;
    -fx-border-width: 5;
    -fx-border-radius: 0;
    -fx-border-insets: 0;
    -fx-border-style: solid line-join bevel line-cap round;
}